<div class="container" style="margin-top:-60px">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                
                <div class="login-panel panel panel-default">
                    <div>
                       <img src="logo/logo.png" style="height:250px; width:300px ; margin-left:9%"/>
                    </div>
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Login</h3>
                    </div>
                    <div class="panel-body">
                        <form role="form" name="formLogin">
                            <fieldset>
                                <div data-ng-controller="loginForm">
                                    <div data-ng-show="IsRegistered">
                                        <pre style="background-color: #00FF00">Successfully Registered,Please Login.</pre>
                                    </div>
                                    <div data-ng-show="incorrectPassword">
                                        <pre style="background-color: #FF0000">UserName or Password incorrect.</pre>
                                    </div>
                                <div class="form-group">
                                    <div ng-switch on="formLogin.email.$valid">
                                            <span ng-switch-when="true">
                                                   
                                            </span>
                                            <span ng-switch-default>
                                                <p class="text-danger">Invalid Email.</p>
                                            </span>
                                    </div>
                                    
                                    <input class="form-control" placeholder="E-mail" name="email" type="email" autofocus data-ng-model="myEmail" required>
                                </div>
                                <div class="form-group">
                                    <div ng-switch on="formLogin.password.$valid">
                                            <span ng-switch-when="true">
                                                   
                                            </span>
                                            <span ng-switch-default>
                                                <p class="text-danger">Password required.</p>
                                            </span>
                                    </div>
                                    <input class="form-control" placeholder="Password" name="password" type="password" value="" data-ng-model="myPassword" required>
                                    
                                </div>
                                <div class="checkbox">
                                    <label>
                                        <input name="remember" type="checkbox" value="Remember Me" data-ng-model="rmbrChk">Remember Me
                                    </label>
                                </div>
                                <!-- Change this to a button or input when using this as a form -->
                                
                                    <a class="btn btn-lg btn-success btn-block" data-ng-click="loginClicked()">Login</a>
                                
                                </div>
                                <div style="margin-top:10px">
                                    <!-- <a href="#forgot_password">I forgot my password</a>  -->
                                    <br>
                                    <a href="#register">Register a new member</a>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>