<div id="wrapper">
<div data-ng-include="'chief/main.html'">
</div>
<div id="page-wrapper" style="min-height: 512px;margin-top:90px">
   <div>
    <div style="">
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-8">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <b>Add new batch</b>
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form id="uploadForm" enctype="multipart/form-data" action="http://13.58.40.86:3000/batch/" method="post">
                                        <div class="form-group">
                                            <label>Batch Information</label>
                                            <input type="file" name="file" required accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel"/>
                                            <span style="color:red;">Choose only excel file.</span>
                                        </div>
     
                                        <button type="submit" class="btn btn-default" name="submit" value="upload" style="width:100px">Submit</button>
                                        <button type="reset" class="btn btn-default" style="width:100px">Reset</button>
                                    </form>
                                </div>
								
								
                                <!-- /.col-lg-6 (nested) -->
                                
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            </div>
			<div data-ng-controller="getBatchController">
			<div class="row" style="">			 
				<div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5><b>Batch details</b></h5>
							
							<div class="pull-right" style="margin-top:-6px">
								<div class="form-group">
									<label for="inputdefault">Search : </label>
									<input class="form-control" placeholder="Drug name" type="text" data-ng-model="searchBox">
								</div>	
							</div>
							<br>
							<br>
							<br>
                        </div>
                        <div class="panel-body">
                           <div class="table-responsive" style="">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th><center>Batch Number</center></th>
                                            <th><center>Drug Category</center></th>                  
                                            <th><center>Drug Name</center></th>
											<th><center>Type</center></th>
											<th><center>Quanity</center></th>
											<th><center>Manufacture Date</th>
											<th><center>Expire Date</th>
											<th><center>Action</center></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="batch in BatchData | filter : searchBox">
                                            <td><center> {{batch.batchNumber}}</center></td>
											<td><center> {{batch.drugCategory}}</center></td>
											<td><center> {{batch.drugName}}</center></td>
											<td><center> {{batch.type}}</center></td>
											<td><center> {{batch.quanity}}</center></td>
											<td><center> {{formatDate(batch.manufactureDate) | date:'dd-MM-yyyy'}}</center></td>
											<td><center> {{formatDate(batch.expireDate) | date:'dd-MM-yyyy'}}</center></td>
                                            <td><center><a class="btn btn-success" data-ng-href="#/chief/batch/{{batch.batchNumber}}">Update</a></center></td>
                                        </tr>
										
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                    
                </div>
				</div>
            </div>
    
    
    </div>
 </div>
</div>
