<div id="wrapper">
<div data-ng-include="'chief/main.html'">
</div>
<div id="page-wrapper" style="min-height: 512px;margin-top:90px">
   <div>
    <div style="">
            <!-- /.row -->
			<div class="panel-body" data-ng-controller="getDrugController">
            <div class="row" style="" data-ng-controller="deleteDrugController">
                
                <div class="col-lg-12">
				<div class="panel panel-primary">
                        <div class="panel-heading">
                            View Drug Details
                        </div>
						<div class="panel-body">
                    <div id="dataTables-example_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control input-sm" placeholder="" aria-controls="dataTables-example" data-ng-model="search"></label></div>
                    <div class="table-responsive" style="margin-top:50px">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th><center>id</center></th>
                                            <th><center>Drug Name<center></th>
                                            <th><center>Drug Price<center></th>
                                            <th><center>Action<center></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="drug in DrugData |filter : search">
											<td><center> #{{$index + 1}}</center></td>
											<td><center> {{drug.name}} </center></td>
											<td><center> {{drug.price}} </center></td>
                                            <td><center><button type="button" class="btn btn-danger" data-ng-click="deleteDrugs(drug._id)">Delete</button></center></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                    </div>
                </div>
                   
                </div>
            </div>
			</div>
    
    
    </div>
 </div>
</div>
