<div id="wrapper" ng-app="myApp">
<div data-ng-include="'chief/main.html'">
</div>
<div id="page-wrapper" style="min-height: 512px;margin-top:90px">
   <div>
    <div>
            <!-- /.row -->
            <div data-ng-controller="getBatchController">
                
			
			<div class="row">			 
				<div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h5><b>Delete batch details</h5></b>
							<div class="pull-right" style="margin-top:-6px">
								<div class="form-group">
									<label for="inputdefault">Search : </label>
									<input class="form-control" placeholder="Drug name" type="text" data-ng-model="searchBox">
								</div>   
							    
							</div>
							<br>
							<br>
							<br>
							
                        </div>
						<div  data-ng-controller="deleteBatchController">
                        <div class="panel-body">
                           <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th><center>Batch Number</center></th>
                                            <th><center>Drug Category</center></th>                  
                                            <th><center>Drug Name</center></th>
											<th><center>Type</center></th>
											<th><center>Quanity</center></th>
											<th><center>Manufacture Date</th>
											<th><center>Expire Date</th>
											<th><center>Action</center></th>
                                        </tr>
                                    </thead>
                                    <tbody>
										<tr data-ng-repeat="batch in BatchData | filter : searchBox">
											<td><center> {{batch.batchNumber}}</center></td>
											<td><center> {{batch.drugCategory}}</center></td>
											<td><center> {{batch.drugName}}</center></td>
											<td><center> {{batch.type}}</center></td>
											<td><center> {{batch.quanity}}</center></td>
											<td><center> {{formatDate(batch.manufactureDate) | date:'dd-MM-yyyy'}}</center></td>
											<td><center> {{formatDate(batch.expireDate) | date:'dd-MM-yyyy'}}</center></td>
											<td><center><button class="btn btn-danger" ng-confirm-click="Are you sure to delete this record?" confirmed-click="deleteBatch(batch.batchNumber)">Delete</button></center></td>
										</tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
					</div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                    
            </div>
			
			</div>
            </div>
   
    
    </div>
 </div>
</div>
