<div id="wrapper">
<div data-ng-include="'chief/main.html'">
</div>
<div id="page-wrapper" style="min-height: 512px;">
   <div>
    <div style="" data-ng-controller="cheifStock">
            <!-- /.row -->
            <div class="row" style="">
                
                <div data-ng-show="isPlaceOrder == false">
                <div class="col-lg-12" style="margin-top:80px">
                    
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Low stocks as of July 12 2017
                        </div>
                        <div class="panel-body">
                            <div>
                                <p> <font color="red">Less than critical stock level </font>
                                    <font color="#BDB76B" style="margin-left:50px">Less than ReOrder stock level </font>
                                </p>  
                                
                            </div>
                            <div style="width:100% ;" class="row">
                                <div class="pull-right">
                                    
                                        
                                
                                </div>
                            </div>
                            
                            <div class="table-responsive" style="margin-top:30px" id="exportThis" data-ng-controller="homeStockController">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Drug Id</th>
                                            <th>Drug Name</th>
                                            <th>Quantity</th>
											<th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="data in StockMedData">
                                            <td> {{ data.id }}</td>
                                            <td> {{ data.name }} </td>
                                            <td> 
											    <div data-ng-if="data.quantity > 200"> <p style="color:green"> {{ data.quantity }} </p> </div> 
												<div data-ng-if="data.quantity > 50 && data.quantity < 200"> <p style="color:yellow"> {{ data.quantity }} </p> </div> 
												<div data-ng-if="data.quantity <= 50"> <p style="color:red"> {{ data.quantity }} </p> </div> 
												
											</td>
											<td><button type="button" class="btn btn-primary" data-ng-click="placeOrderBtnClick()">Place Order</button></td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
                            
                            
                            
                        </div>
                        <div class="panel-footer">
                           <button type="button" class="btn btn-success" data-ng-click="exportBtnCLick()">View as pdf</button>
                        </div>
                    </div>
                 
                </div>
                
        </div>
                <!-- Placeorder part -->
                <div data-ng-show = "isPlaceOrder">
                    <div class = "col-lg-10" style = "margin-top:80px" data-ng-controller="EmailController">
                        <div class="panel panel-primary">
                            <div class = "panel-heading">Drug Request Mail Sender</div>
                            <div class = "panel-body">
                                <div class = "row">
                                    <div class = "col-lg-12">
                                        <form role = "form">
                                            <div class = "form-group">
                                                <label>From</label>
                                                <input class = "form-control" autocomplete="on" autofocus required data-ng-model="from">
                                            </div>
                                            <div class = "form-group">
                                                <label>To</label>
                                                <input class = "form-control" autocomplete="on" required data-ng-model="to">
                                                <p class = "help-block">reciever.ex@gmail.com</p>
                                            </div>
                                            <div class = "form-group">
                                                <label>Subject</label>
                                                <input class = "form-control" placeholder="Urgent/Immediate/General" data-ng-model="subject">
                                            </div>
                                            <div class = "form-group">
                                                <label>Content</label>
                                                <textarea class = "form-control" rows = "7" data-ng-model="txt"></textarea>
                                            </div>
                                            <button type = "button" class = "btn btn-success" data-ng-click="sendMail()">Send</button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- Sent Mail Added Table -->
                        <div class = "col-lg-12" style = "margin-top:80px">
                            <div class = "panel panel-primary">
                                <div class = "panel-heading">Mail History For Selected Drugs</div>
                                <div class = "panel-body">
                                    <div class = "row">
                                        <div class = "col-lg-12">
                                            <div class = "table-responsive">
                                                <table class = "table table-striped table-bordered table-hover">
                                                    <thead>
                                                    <tr>
                                                        <th>#</th>
                                                        <th>Date</th>
                                                        <th>Time</th>
                                                        <th>From</th>
                                                        <th>To</th>
                                                        <th>Subject</th>
                                                        <th>Content</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr data-ng-repeat="email in EmailData">
                                                        <td>{{$index + 1}}</td>
                                                        <td>{{email.date}}</td>
                                                        <td>{{email.time}}</td>
                                                        <td>{{email.from}}</td>
                                                        <td>{{email.to}}</td>
                                                        <td>{{email.subject}}</td>
                                                        <td>{{email.text}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                    <!-- end of placeorder -->
                </div>
            </div>
    
    
    </div>
 </div>
</div>
