<!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="margin-bottom: 0">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html">TechMed</a>
            </div>
            <!-- /.navbar-header -->

            <ul class="nav navbar-top-links navbar-right">
                <!-- Logout button was here -->
            </ul>

            <div class="navbar-default sidebar" role="navigation" style="">
                <div class="sidebar-nav navbar-collapse collapse" aria-expanded="false" style="height: 1px;">
                    <ul class="nav in" id="side-menu">
                        <li>
                            <div style="margin-top:15px">
                                <div class="row">
                                    <img src="https://inomics.com/sites/default/files/pictures/picture-95970-1460131169.png" style="height:100px;width:100px;margin-left:28%"/>
                                </div>
                                <div class="row" style="color:green;margin-left:50px">
                                    <p>{{ loggedInEmail }}</p> 
                                   
                                </div>
                                <div class="row" style="margin-left:35%">
                                    <p><a href="index.html">LogOut</a></p> 
                                </div>
                            </div>
                            <hr>
                        </li>
                        <li>
                            <a href="#/chief/dashboard"><i class="fa fa-dashboard fa-fw"></i> Dashboard</a>
                        </li>
                        <li>
                            <a href="#/chief/adddrug"><i class="fa fa-bar-chart-o fa-fw"></i> Add new drug</a>
                        </li>
						<li>
                            <a href="#/chief/updateDrug"><i class="fa fa-edit fa-fw"></i> View and Update drug</a>
                        </li>
                        <li>
                            <a href="#/chief/deletedrug"><i class="fa fa-bar-chart-o fa-fw"></i> Delete drug</a>
                        </li>
						<li>
                            <a href="#/chief/addBatch"><i class="fa fa-bar-chart-o fa-fw"></i> Add and Update Batch</a>
                        </li>
						<li>
                            <a href="#/chief/deleteBatch"><i class="fa fa-table fa-fw"></i> Delete Batch</a>
                        </li>
						<li>
                            <a href="#/chief/viewrequest" class="active"><i class="fa fa-user-plus"></i>View Requests</a>
                        </li>
                       
                      
                        
                
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>