<div id="wrapper">
<div data-ng-include="'chief/main.html'">
</div>
<div id="page-wrapper" style="min-height: 512px;margin-top:90px" class="centered">
   <div>
    <div>
            <!-- /.row -->
			<div data-ng-controller="updateBatchController">
            <div class="row" style="">
                <div class="col-lg-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Update Batch Details
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form role="form" name="ubform" novalidate>
                                        <div class="form-group">
                                            <label>Batch Number</label>
                                            <input class="form-control" name="batchNumber" data-ng-model="UpBatch.batchNumber" disabled>
                                        </div>
                                        <div class="form-group">
                                            <label>Drug Category</label>
											<select class="form-control" data-ng-model="UpBatch.drugCategory">
												<option>Narcotics</option>
												<option>Amphetamines</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Drug Name</label>
                                            <input type="text" class="form-control" data-ng-model="UpBatch.drugName" name="drugName" required>
											<span ng-show="ubform.drugName.$dirty && ubform.drugName.$invalid" style="color:red;">The drug name is requiredss.</span>
                                        </div>
                                         <div class="form-group">
                                            <label>Type</label>
                                            <select class="form-control" data-ng-model="UpBatch.type">
												<option>Bottles</option>
												<option>Cartoons</option>
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label>Quantity</label>
                                            <input type="number" class="form-control" placeholder="Quantity" data-ng-model="UpBatch.quanity" name="quanity" min=0 oninput="validity.valid||(value='');" required>
											<span ng-show="ubform.quanity.$dirty && ubform.quanity.$invalid" style="color:red;">The quanity is required.</span>   
                                        </div>
                                        <div class="form-group">
                                            <label>Manufacture Date</label>
                                            <input type="date" class="form-control" placeholder="Manufacture Date" data-ng-model="UpBatch.manufactureDate" required name="manufactureDate">
                                            <span ng-show="ubform.manufactureDate.$dirty && ubform.manufactureDate.$invalid" style="color:red;">The manufacture date is required.</span>
                                            <span ng-if="checkMDate()" style="color:red;">Select valid manufacture date.</span>
                                        </div>
                                        <div class="form-group">
                                            <label>Expire Date</label>
                                            <input type="date" class="form-control" placeholder="Expire Date" data-ng-model="UpBatch.expireDate" required name="expireDate">
                                            <span ng-show="ubform.expireDate.$dirty && ubform.expireDate.$invalid" style="color:red;">The expired date is required.</span>
                                            <span ng-if="checkDate()" style="color:red;">Select valid expired date.</span>
                                        </div>
                                        <br>
										<div class="col-lg-8" align="left">
											<button type="submit" data-ng-disabled="ubform.drugName.$dirty && ubform.drugName.$invalid || ubform.quanity.$dirty && ubform.quanity.$invalid || ubform.manufactureDate.$dirty && ubform.manufactureDate.$invalid || ubform.expireDate.$dirty && ubform.expireDate.$invalid || checkDate() || checkMDate()" class="btn btn-primary" style="width:100px" data-ng-click="upBatchData()">Update</button>
											<button class="btn btn-primary" style="width:100px" data-ng-click="getUBatch()">Reset</button>
										</div>
										<div class="col-lg-4" align="right">
											<a class="btn btn-info" data-ng-href="#/chief/addBatch" style="width:100px">« Back</a>
										</div>
										<p> </p>
                                    </form>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                                
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>

            
                
                    
                </div>
			</div>
           </div>
    
    
    </div>
 </div>
</div>
