<div id="wrapper">
<div data-ng-include="'chief/main.html'">
</div>
<div id="page-wrapper" style="min-height: 512px;margin-top:90px">
   <div>
    <div style="">
            <!-- /.row -->
            <div class="row" style="">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Update Drug details
                        </div>
                        <div class="panel-body" data-ng-controller="getDrugController">
                            <div class="row">
                                <div class="col-lg-12">
									<div id="dataTables-example_filter" class="dataTables_filter"></div>
									<div class="table-responsive" style="margin-top:50px">
										<table class="table table-striped table-bordered table-hover">
										<thead>
											<tr>
												<th><center> ID</center> </th>
												<th><center> Drug Name</center> </th>
												<th><center> Place Holder</center></th>
												<th><center> Drug Type</center> </th>
												<th><center> Drug Card No</center> </th>
												<th><center> No Of Pills per Card</center> </th>
												<th><center> Price</center> </th>
												<th><center> Quantity </center> </th>
												<th><center>Action</center></th>
											</tr>
										<thead>
										<tbody>
											<tr  data-ng-repeat="drug in DrugData">
												<td><center> #{{$index + 1}}</center></td>
												<td><center> {{drug.name}} </center></td>
												<td><center> {{drug.placeHolder}} </center></td>
												<td><center> {{drug.drugType}}</center></td>
												<td><center> {{drug.drugCardNo}}</center> </td>
												<td><center> {{drug.noOfPills}}</center> </td>
												<td><center> {{drug.price}} </center></td>
												<td><center> {{drug.qty}}</center></td>
												<td><center><a class="btn btn-danger" data-ng-href="#/chief/drug/{{drug._id}}">Update</a></center></td>
											</tr>
										</tbody>
										
										</table>
									</div>
									</div>
								</div>
								
                                <!-- /.col-lg-6 (nested) -->
                                
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            View Drug Details
                        </div>
                        <div class="panel-body" data-ng-controller="getDrugController">
                            <div class="row">
                                <div class="col-lg-12">
									<div id="dataTables-example_filter" class="dataTables_filter"><label>Search:<input type="search" class="form-control input-sm" placeholder="" aria-controls="dataTables-example" data-ng-model="search"></label></div>
									<div class="table-responsive" style="margin-top:50px">
									<table class="table table-striped table-bordered table-hover">
								   <thead>
								 
								   <tr>
										<th><center> ID</center> </th>
										<th><center> Drug Name</center> </th>
										<th><center> Price</center> </th>
										<th><center> Quantity </center> </th>
										<th><center> Total Price </center> </th>
									</tr>
									</thead>
									<tbody>
									<tr data-ng-repeat="drug in DrugData | filter: search">
										<td><center> #{{$index + 1}}</center></td>
										<td><center> {{drug.name}} </center></td>
										<td><center> {{drug.price}} </center></td>
										<td><center> {{drug.qty}}</center></td>
										<td> <center>{{drug.total}} </center> </td>
									</tr>
									</tbody>
								   </table>
								   </div>
								   </div>
                                </div>
								
                                <!-- /.col-lg-6 (nested) -->
                                
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                    
                </div>
            </div>
    
    
    </div>
 </div>
</div>
