<div id="wrapper">
<div data-ng-include="'chief/main.html'">
</div>
<div id="page-wrapper" style="min-height: 512px;margin-top:90px">
   <div>
    <div style="">
            <!-- /.row -->
            <div class="row" style="">
                <div class="col-lg-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            Add new drug
                        </div>
                        <div class="panel-body" data-ng-controller="updateDrugController">
                            <div class="row">
                                <div class="col-lg-12">
                                    <form role="form">
                                        <div class="form-group">
                                            <label>Drug Name</label>
                                            <input class="form-control" data-ng-model="UpDrug.name">
                                            <p class="help-block">Example block-level help text here.</p>
                                        </div>
                                        <div class="form-group">
                                            <label>Text Input with Placeholder</label>
                                            <input class="form-control" placeholder="Enter text" data-ng-model="UpDrug.placeHolder">
                                        </div>
                                        <div class="form-group">
                                            <label>Type</label>
                                            <select class="form-control" data-ng-model="UpDrug.drugType">
                                                <option>1</option>
                                                <option>2</option>
                                                <option>3</option>
                                                <option>4</option>
                                                <option>5</option>
                                            </select>
                                        </div>
                                         <div class="form-group">
                                            <label>number of cards</label>
                                            <input class="form-control" placeholder="Enter text" data-ng-model="UpDrug.drugCardNo">
                                        </div>
                                        <div class="form-group">
                                            <label>number of pills per card</label>
                                            <input class="form-control" placeholder="Enter text" data-ng-model="UpDrug.noOfPills">
                                        </div>
                                        <div class="form-group">
                                            <label>Price per item</label>
                                            <input class="form-control" placeholder="Enter text" data-ng-model="UpDrug.price" id="price">
                                        </div>
                                        <div class="form-group">
                                            <label>Quantity</label>
                                            <input class="form-control" placeholder="Enter text" data-ng-model="UpDrug.qty" id="qty">
                                        </div>
                                        <div class="form-group">
                                            <label>Total Price</label>
                                            <input class="form-control" placeholder="Enter text" id = "total" data-ng-model="UpDrug.total" readonly>
                                        </div>
                                        
                                        <button type="button" ng-click="upDrugInfo()" class="btn btn-default">Update Button</button>
                                        <button type="reset" class="btn btn-default">Reset Button</button>
										
							
                                    </form>
                                </div>
                                <!-- /.col-lg-6 (nested) -->
                                
                                <!-- /.col-lg-6 (nested) -->
                            </div>
                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                
                    
                </div>
            </div>
    
    
    </div>
 </div>
</div>



