<div id="wrapper">
	<div data-ng-include="'chief/main.html'">
	</div>
	<div id="page-wrapper" style="min-height: 512px;margin-top:90px">
		<div>
			<div style="" data-ng-controller="RequestController">
				<div class = "panel panel-primary">
					<div class = "panel-heading">View Requests</div>
					<div class = "panel-body">
						<div class = "row">
							<div class = "col-lg-12">
								<div class = "table-responsive">
									<table class = "table table-striped table-bordered table-hover">
										<thead>
										<tr>
											<th>Request ID</th>
											<th>Drug ID</th>
											<th><center>Drug Name</center></th>
											<th>Requested Quantity</th>
											<th>Available Quantity</th>
											<th><center>Date</center></th>
											<th><center>Department</center></th>
											<th>Status</th>
											<th><center>Approved Quantity</center></th>
											<th>Approve</th>
										</tr>
										</thead>
										<tbody>
										<tr  data-ng-repeat="request in RequestData">
											<td><center> {{request.requestid}}</center></td>
											<td><center> {{request.drugid}}</center></td>
											<td><center> {{request.drugname}}</center></td>
											<td><center> {{request.req_quantity}}</center></td>
											<td><center> {{request.ava_quantity}}</center></td>
											<td><center> {{request.date}}</center></td>
											<td><center> {{request.department}}</center></td>
											<td><center> {{request.status}}</center></td>
											<td><input type="number" placeholder="The quantity that you can offer." data-ng-model="quantity"/></td>
											<td><center><button type = "button" class = "btn btn-success" data-ng-click="approve(request,quantity)">Approve</button></center></td>
										</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</div>