<div class="container" style="margin-top:-60px">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                
                <div class="login-panel panel panel-default">
                    <div>
                       <img src="logo/logo.png" style="height:250px; width:300px ; margin-left:9%"/>
                    </div>
                    <div class="panel-heading">
                        <h3 class="panel-title">Please Register</h3>
                    </div>
                    <div class="panel-body" data-ng-controller="registerController">
                        <form role="form" name="formRegister" >
                            
                            <div data-ng-show="formRegister.email.$valid == false">
                            <p class="text-danger">Invalid Email.</p>
                            </div>
                            <div class="form-group">
                                 <label>Email</label>
                                 <input class="form-control" name="email" type="email" required data-ng-model="emailText">
                                 <p class="help-block">Ex: user@gmail.com</p>
                            </div>
                            <div class="form-group">
                                 <label>Password</label>
                                 <input type="password" class="form-control" data-ng-model="PasswordOnce" required>
                                 
                            </div>
                            <div data-ng-show="isPassmatch">
                            <p class="text-danger">Password dosent match.</p>
                            </div>
                            <div class="form-group">
                                 <label>Password again</label>
                                 <input type="password" class="form-control" data-ng-model="PasswordTwice" data-ng-change="PasswordMatch()" required>
                                 
                            </div>
                            <div class="form-group">
                                            <label>User Type</label>
                                            <select class="form-control" data-ng-model="userType">
                                                <option>Chief</option>
                                                <option>Assistant</option>
                                                
                                            </select>
                            </div>
                            <div class="form-group">
                                            <label>Security Question</label>
                                            <select class="form-control" data-ng-model="SQuestion">
                                                <option>What is your mothers name?</option>
                                                <option>What is your best friends name?</option>
                                                <option>When is your birthday?</option>
                                                <option>What is your favourite food?</option>
                                            </select>
                            </div>
                            <div class="form-group">
                                 <label>Answer for the security question</label>
                                 <input type="password" class="form-control" data-ng-model="SQuestionAnswer"  required>
                                 
                            </div>
                            <div class="pull-right">
                                    <button type="button" class="btn btn-success" data-ng-click="registerButton()">Register</button>
                                </div>
                                <div class="pull-left">
                                    <a href="#/"> <button type="button" class="btn btn-primary">back</button> </a>
                                </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>