<div id="wrapper">
<div data-ng-include="'assistant/main.html'">
</div>
<div id="page-wrapper" style="min-height: 512px;">
    <div>
    <div style="">
            <!-- /.row -->
            <div class="row" style="">
                
                <div data-ng-controller="DispenseSearch">
                    <div class="col-lg-12" style="margin-top:80px">
                      <div class="panel panel-primary">
                        <div class="panel-heading">
                            Drug Dispense
                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-3">
                                    <p>Patient ID : </p>
                                </div>
                            </div>
                            <div class="row">
                            <div style="">
                                <div class="col-lg-5">
                                    <input type="search" class="input-sm" placeholder="" data-ng-model="DispenseSearchText" required>
                                    <button type="button" class="btn btn-primary" data-ng-click="DsButtonClicked()">Search</button>
                                </div>
                                 
                            </div>
							<table class="table table-striped table-bordered table-hover" data-ng-show="justLoggedIn">
                                    <thead>
                                        <tr>
                                            <th>Patient ID</th>
                                            <th>Create date</th>
                                            <th>Prescription date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="data in dispensDataAll">
                                            <td>{{ data.patientid }}</td>
                                            <td>{{ data.createdate }}</td>
                                            <td>{{ data.prescriptiondate }}</td>
                                            <td><a href="" data-ng-click="PrescriptionLinkClicked( data._id )">View and dispense </a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                            <div class="row">
            
            <div class="col-lg-12">
            
                                    <div style="width:100% ;" class="row">
                                        <div class="pull-right">
                                            <input type="search" class="input-sm" placeholder="" data-ng-model="nestedSearchText" required>
                                            <button type="button" class="btn btn-primary" data-ng-click="nestedSearch()">Search</button>
                                        </div>
                </div>
                
                                
                                
            
                <span data-ng-show="drugDispenseView">
            <div class="table-responsive"  style="margin-top:20px">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Prescription ID</th>
                                            <th>Create date</th>
                                            <th>Prescription date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="data in dispenseData">
                                            <td>{{ data.prescriptionid }}</td>
                                            <td>{{ data.createdate }}</td>
                                            <td>{{ data.prescriptiondate }}</td>
                                            <td><a href="" data-ng-click="PrescriptionLinkClicked( data._id )">View and dispense </a></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                </span>
                <span data-ng-show="PrescriptionDetails">
                <div class="table-responsive"  style="margin-top:20px">
                                <table class="table table-striped table-bordered table-hover" id="exportThis">
                                    <thead>
                                        <tr>
                                            <th>Drug Description</th>
                                            <th>Dosage</th>
                                            <th>Frequency</th>
                                            <th>Period</th>
                                            <th>Quantity</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="data in dispenseInnerData">
                                            <td> {{ data.drugdescription }}</td>
                                            <td>{{ data.dosage }}</td>
                                            <td>{{ data.frequency }}</td>
                                            <td>{{ data.period }}</td>
                                            <td>{{ data.quanity }}</td>
                                        </tr>
                            
                                    </tbody>
                                </table>
                            </div>
                    <div class="pull-right">
                        <button type="button" class="btn btn-primary" data-ng-click="prescriptionBack()">Back</button>
                        <button type="button" class="btn btn-success" data-ng-click="dispence( presciptionID )">Dispense</button>
                    </div>
                </span>
                                
            </div>
                            
            
        </div>
                        </div>
                        
                    </div>
                </div>
                     
                    
                </div>
                    
                    
                    
                    
                    
                
            </div>
        
        <div class="row" data-ng-controller="homeStockController">
            
            <div class="col-lg-12">
            <h2> Drug Stock </h2>
            <div class="table-responsive">
                                <table class="table table-striped table-bordered table-hover">
                                    <thead>
                                        <tr>
                                            <th>Drug Id</th>
                                            <th>Drug Name</th>
                                            <th>Quantity</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr data-ng-repeat="data in StockMedData">
                                            <td> {{ data.id }}</td>
                                            <td> {{ data.name }} </td>
                                            <td> {{ data.quantity }} </td>
                                        </tr>
                                        
                                    </tbody>
                                </table>
                            </div>
            </div>
            
        </div>
    </div>
    
    
    </div>
        </div>
</div>
