<div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Password Reset<h3>
                    </div>
                    <div class="panel-body" >
                        <form name="form1">
                        <div data-ng-controller="passForgot">
                            
                            <div class="form-group">
                              <div ng-switch on="form1.email.$valid">
                                            <span ng-switch-when="true">
                                                   
                                            </span>
                                            <span ng-switch-default>
                                                <p class="text-danger">Invalid Email.</p>
                                            </span>
                                    </div>
                              <label>Your Email</label>
                               <input class="form-control" data-ng-model="emailText" name="email" type="email" required>
                            </div>
                            <div class="form-group">
                              <label>New Password</label>
                               <input type="password" class="form-control" data-ng-model="newPasswordText">
                            </div>
                            <div class="form-group">
                                <span data-ng-show="isPassmatch"> <p class="text-danger">Passwords must match.</p></span>
                               <label>Retype New Password</label>
                               <input type="password" class="form-control" data-ng-model="newPasswordTextS" data-ng-change="isPasswordMatch()" />
                            </div>
                            <div ng-switch on="form1.Sanswer.$valid">
                                            <span ng-switch-when="true">
                                                   
                                            </span>
                                            <span ng-switch-default>
                                                <p class="text-danger">Please input your answer to your security question.</p>
                                            </span>
                                    </div>
                            <div class="form-group">
                               <label>Answer to your securiy question</label>
                               <br>
                               <p>What is your mothers name?.</p>
                               <input type="password" class="form-control" data-ng-model="answer" name="Sanswer" required>
                            </div>
                            <div>
                                <div class="pull-right">
                                    <button type="button" class="btn btn-success" data-ng-click="passForgotButtonClicked()">Submit</button>
                                </div>
                                <div class="pull-left">
                                    <a href="#/"> <button type="button" class="btn btn-primary">back</button> </a>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </div>
            </div>
    </div>
</div>
